@font-face {
    font-family: 'NeoSansPro-Light';
    src: url('../fonts/NeoSansPro-Light.eot');
    src: url('../fonts/NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-Light.woff') format('woff'),
         url('../fonts/NeoSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'NeoSansPro-Regular';
    src: url('../fonts/NeoSansPro-Regular.eot');
    src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-Regular.woff') format('woff'),
         url('../fonts/NeoSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NeoSansPro-Medium';
    src: url('../fonts/NeoSansPro-Medium.eot');
    src: url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-Medium.woff') format('woff'),
         url('../fonts/NeoSansPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'NeoSansPro-Bold';
    src: url('../fonts/NeoSansPro-Bold.eot');
    src: url('../fonts/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-Bold.woff') format('woff'),
         url('../fonts/NeoSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NeoSansPro-BoldItalic';
    src: url('../fonts/NeoSansPro-BoldItalic.eot');
    src: url('../fonts/NeoSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-BoldItalic.woff') format('woff'),
         url('../fonts/NeoSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'NeoSansPro-Ultra';
    src: url('../fonts/NeoSansPro-Ultra.eot');
    src: url('../fonts/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NeoSansPro-Ultra.woff') format('woff'),
         url('../fonts/NeoSansPro-Ultra.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
}