body,
body a {
    margin: 0;
    font-family: 'NeoSansPro-Regular';
    color: #25313a;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'NeoSansPro-Regular';
    margin: 0;
}
p {
    font-family: 'NeoSansPro-Light';
    font-size: 16px;
    line-height: 24px;
    color: #25313a;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 16px;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder {
    color: #CCCFD0;
}
::-moz-placeholder {
    color: #CCCFD0;
}
/* Firefox 19+ */
:-moz-placeholder           {
    color: #CCCFD0;
}/* Firefox 18- */
:-ms-input-placeholder {
    color: #CCCFD0;
}
input[type="text"],
textarea {
    font-size: 15px;
    font-family: 'NeoSansPro-Light';
    height: 30px;
    padding-left: 9px;
    padding-right: 9px;
    outline: none;
    border: none;
}
.btn_green,
a.btn_green {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    background: #F0F1EF;
    font-family: 'HelveticaNeue-Bold';
    font-size: 20px;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    border-bottom: 4px solid #F0F1EF;
    outline: none;
}
.btn_green:hover,
a.btn_green:hover {
    color: #fff;
    background: rgba(0,149,127,.7);
    border-color: #006457;
}
.btn_green_small,
a.btn_green_small {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #00A997;
    font-family: 'NeoSansPro-Light';
    font-size: 15px;
    border: none;
    padding-top: 4px;
    padding-bottom: 5px;
    outline: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    background: url(../img/header.jpg);
    background-size: cover;
}
.header_container .header {
    height: 112px;
}
.header_container .right {
    padding-top: 42px;
}
.header_container .header .logo {
    line-height: 112px;
}
.header_container .header .logo img {
    vertical-align: middle;
}
.header_container .social_wrap {
    float: left;
    margin-left: 21px;
}
.header_container .social_wrap a {
    float: left;
    height: 30px;
    margin-right: 1px;
}
.header_container p.or {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'NeoSansPro-Light';
    line-height: 30px;
    margin-right: 24px;
    margin-left: 22px;
}
.header_container .header_form .enter {
    float: left;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}
.header_container .header_form input {
    margin-right: 1px;
    width: 139px;
}
.header_container .header_form .enter button {
    width: 68px;
    position: relative;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
}
.header_container .header_form .enter button:after {
    content: '';
    width: 1;
    height: 1;
    border: 5px solid transparent;
    border-left-color: #fff;
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -5px;
}
.header_container .header_form .enter button:before {
    content: '';
    width: 1;
    height: 1;
    border: 6px solid transparent;
    border-left-color: #1C2A32;
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -6px;

}
.header_container .registration {
    border-radius: 3px;
    overflow: hidden;
    width: 148px;
    text-indent: 47px;
    position: relative;
}
.header_container .registration span {
    width: 32px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #00614E;
    border-right: 1px solid #1C2A32;
    line-height: 26px;
    text-align: center;
    text-indent: 6px;
}
.header_container .registration span img {
    vertical-align: middle;
}
.header_container .registration span:after {
    content: '';
    width: 1;
    height: 1;
    border: 5px solid transparent;
    border-left-color: #00614E;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
}
.header_container .registration span:before {
    content: '';
    width: 1;
    height: 1;
    border: 6px solid transparent;
    border-left-color: #1C2A32;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -6px;
}
/* Navigation
----------------------------------------------------------------------------------------*/
.nav_container {
    background: #00957F;
    height: 47px;
}
.nav_container .navbar {
    margin: 0;
    margin-top: -2px;
    background: none;
    border: none;
}
.nav_container .navbar li {
    width: 25%;
    padding-top: 2px;
    padding-right: 1px;
}
.nav_container .navbar li a {
    padding: 0;
    width: 100%;
    line-height: 47px;
    text-align: center;
    color: #fff;
    font-family: 'NeoSansPro-Regular';
    font-size: 20px;
}
.nav_container .navbar li.active a,
.nav_container .navbar li.active a:hover,
.nav_container .navbar li a:hover {
    background: #fff;
    border-radius: 3px 3px 0 0;
    padding-top: 2px;
    color: #25313a;
}
.nav_container .navbar li.active,
.nav_container .navbar li:hover {
    padding-top: 0;
}
.nav_container ul.nav {
    width: 100%;
}
/* Main slider
----------------------------------------------------------------------------------------*/
.main_slider .item img {
    width: 100%;
}
#carousel-example-generic {
    border: 1px solid black;
}
.main_slider .item .carousel-caption {
    width: 90%;
    left: 5%;
    top: 0;
    text-shadow: none;
    height: 70%;
}
.main_slider .item .carousel-caption h1 {
    font-size: 50px;
    padding-top: 120px;
    margin-bottom: 22px;
}
.main_slider .item .carousel-caption p {
    font-size: 30px;
    font-family: 'NeoSansPro-Regular';
    color: #fff;
    line-height: 42px;
}
.main_slider .item .carousel-caption .btn_green {
    width: 272px;
    margin: auto;
    margin-top: 52px;
}
.main_slider .carousel-control {
    width: 34px;
    height: 58px;
    margin-top: -28px;
    top: 50%;
    background: url(../img/main_slider/arrows.png);
    opacity: .7;
}
.main_slider .carousel-control:hover {
    opacity: 1;
}
.main_slider .carousel-control.left {
    margin-left: 150px;
}
.main_slider .carousel-control.right {
    margin-right: 150px;
    background-position: -33px 0;
}
.main_slider .carousel-indicators {
    bottom: 70px;
}
.main_slider .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FEFEFE;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.main_slider .carousel-indicators li:hover,
.main_slider .carousel-indicators li.active {
    background: #949292;
    box-shadow: 0 0 0 2px #FEFEFE;
    height: 22px;
    width: 22px;
    margin-bottom: -1px;
    margin-left: 4px;
    margin-right: 4px;
}

/* corporative_container
----------------------------------------------------------------------------------------*/
.measure_container .carousel_container h1 {
    padding-bottom: 44px;
}
.select_city {
    float: left;
    width: 170px;
    margin-right: 20px;
    height: 30px;
}
.select_category {
    width: 227px;
    float: left;
    margin-right: 20px;
    height: 30px;
}
.select_category .sod_select,
.select_category .sod_select .sod_list_wrapper {
    width: 227px;
}
.measure_container .information .select_wrap {
    float: left;
}
.measure_container .information input {
    border: 1px solid #EBEFEF;
    height: 30px;
    border-radius: 4px;
    width: 227px;
    padding-right: 32px;
    background: url(../img/search.png) no-repeat 200px 50%;
}
.measure_container .measure_top {
    margin-bottom: 10px;
}
.measure_container .information .btn_green {
    width: 302px;
    float: right;
    margin-top: -10px;
}
.measure_carousel {
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
.measure_container .carousel_container li {
    width: 250px;
    position: relative;
    height: auto;
}
.measure_container .carousel_container li img {
    width: 100%;
    height: 100%;
}
.measure_container .measure {
    width: 250px;
    height: 304px;
    position: relative;
}
.measure .text_block {
    position: absolute;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    padding-left: 18px;
    padding-right: 21px;
    box-shadow: inset -1px 0 #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.measure .text_block .btn_wrap {
    position: absolute;
    bottom: 20px;
    width: 211px;
    height: 50px;
    overflow: hidden;
}
.measure .text_block .btn_wrap .cost {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #F0F1EF;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'HelveticaNeue-Bold';
}
.measure:hover .text_block .btn_wrap .cost {
    display: none;
}
.measure .text_block .btn_green {
    display: none;
}
.measure:hover .text_block .btn_green {
    display: block;
}
.measure.have_img .text_block .btn_green:hover {
    background: #00957F;
}
.measure .text_block .date {
    color: #d1d2d2;
    position: relative;
    font-size: 15px;
    color: #919191;
    padding-left: 30px;
    margin-top: 40px;
    font-family: "NeoSansPro-Regular";
}
.measure .text_block .measure_name {
    font-size: 21px;
    font-family: "NeoSansPro-Regular";
    line-height: 24px;
    margin-top: 24px;
}
.measure.have_img .text_block:hover .measure_name {
    color: #fff;
}
.measure .text_block .organizer {
    margin-top: 23px;
}
.measure .text_block .organizer p {
    color: #989898;
    font-size: 15px;
    font-family: "NeoSansPro-Regular";
    line-height: 18px;
}
.measure.have_img .text_block:hover .organizer p {
    color: #fff;
}
.measure.have_img .text_block:hover .date {
    color: #fff;
}
.measure .text_block .date:before {
    content: '';
    width: 18px;
    height: 18px;
    background: url(../img/measure_slider/date_icon.png);
    position: absolute;
    left: 0;
    top: 1px;
}
.measure.have_img .text_block:hover .date:before {
    content: '';
    background-position: -18px 0;
}
.measure:hover .text_block {
    background: none;
}
/* Action
----------------------------------------------------------------------------------------*/
.action_container {
    text-align: center;
    padding: 90px 0 70px;
    vertical-align: bottom;
}
.action_container .images {
    height: 214px;
}
.action_container h3 {
    margin-bottom: 20px;
}
/* Mobile
--------------------------------------------------------------------------------------*/
.mobile_container {
    text-align: center;
    position: relative;
    height: 640px;
}
.mobile_container .browsers,
.mobile_container .client {
    height: 640px;
    padding-top: 90px;
    position: relative;
}
.mobile_container .browsers {
    padding-right: 20px;
}
.mobile_container .client {
    padding-left: 20px;
}
.mobile_container h2 {
    margin-bottom: 30px;
}
.mobile_container .browsers img,
.mobile_container .phone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 92%;
}
.mobile_container .phone {
    text-align: center;
    width: 100%;
    padding-top: 50px;
}
.mobile_container .phone .hrefs {
    position: relative;
    margin-bottom: -350px;
}
/* Carousel
------------------------------------------------------------------------------------ */
.carousel_container {
    clear: both;
    position: relative;
    padding-bottom: 25px;
}
.carousel_container h1 {
    padding-top: 35px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.carousel_container h1 a {
    float: right;
    font-size: 24px;
    color: #25313a;
    margin-top: 20px;
}
.carousel_container .prev,
.carousel_container .next {
    background: none;
    background: url(../img/carousel_btns.png) no-repeat;
    width: 23px;
    height: 41px;
    border: none;
    outline: none;
    position: absolute;
    top: 47px;
    z-index: 50;
    cursor: pointer;
    padding: 0;
    opacity: .3;
}
.carousel_container .prev {
    right: 50px;
}
.carousel_container .next {
    right: 0;
    background-position: -27px 0;
}
.carousel_container .prev:hover,
.carousel_container .next:hover {
    opacity: 1;
}
.carousel {
    margin: auto;
}
/* Fares
------------------------------------------------------------------------------------ */
.fares_container {
    padding: 70px 0 50px;
}
.fares_container h1 {
    text-align: center;
    margin-bottom: 50px;
}
table#fares {
    width: 100%;
    text-align: center;
}

table#fares tr td {
    padding: 1px;
    width: 25%;
}
table#fares tbody tr:nth-child(2n+2) td {
    background: #f3f4f5;
}
table#fares thead tr td p {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #3f4f5f;
    font-family: 'NeoSansPro-Regular';
    font-size: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 4px 4px 0 0;
}
table#fares thead tr td:first-child p {
    background: #d6dee1;
    color: #25313a;
    font-size: 20px;
}
table#fares thead tr td p.premium {
    background: #1c947f;
}
table#fares tbody tr td {
    font-family: 'NeoSansPro-Light';
    font-size: 14px;
    color: #25313a;
    padding: 15px 0;
}
table#fares tbody tr td:first-child {
    text-align: left;
    padding-left: 15px;
}
table#fares tbody tr td p.price {
    background: #52677c;
    display: inline-block;
    font-family: 'NeoSansPro-Regular';
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    position: relative;
}
table#fares tbody tr td p.premium {
    background: #52beac;
}
table#fares tbody tr td p.price:before,
table#fares tbody tr td p.price:after {
    content: '';
    width: 16px;
    height: 27px;
    background: url(../img/price_sprite.png) no-repeat;
    position: absolute;
    top: -3px;
}
table#fares tbody tr td p.price:before {
    left: -15px;
}
table#fares tbody tr td p.price:after {
    right: -15px;
    background-position: -20px 0;
}
table#fares tbody tr td p.premium:before {
    background-position: 0 -31px;
}
table#fares tbody tr td p.premium:after {
    background-position: -20px -31px;
}
table#fares tbody tr.btns td {
    padding: 1px;
    background: #fff;
}
table#fares tbody tr.btns td .btn_green {
    background: #3f4f5f;
    margin: 0;
    font-family: 'NeoSansPro-Regular';
    border-radius: 0 0 4px 4px;
    border-color: #3f4f5f;
    padding: 10px 0;
}
table#fares tbody tr.btns td .premium {
    background: #1c947f;
    border-color: #338173;
}
table#fares tbody tr td a.free {
    font-family: 'NeoSansPro-Light';
    font-size: 20px;
}
/* News
------------------------------------------------------------------------------------ */
.news_carousel ul li {
    width: 100%;
}
.news_tabs {
    text-align: center;
}
.news_tabs .items {
    float: left;
    border: 1px solid #ecefef;
    border-radius: 4px;
    overflow: hidden;
}
.news_tabs .item {
    background: #fff;
    float: left;
    display: inline;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 5px 14px;
    font-size: 15px;
}
.news_tabs .current {
    background: #ecefef;
}

.news_container .box {
    display: none;
    margin-top: 20px;
}
.news_container .box.visible {
    display: block;
}
.news_container .box .news_box {
    width: 50%;
    padding: 30px 15px;
    height: 325px;
}
.news_container .box .news_box .btn_green {
    visibility: hidden;
    width: 220px;
}
.news_container .box .news_box:hover {
    background: #f6f6f6;
}
.news_container .box .news_box:hover .btn_green {
    visibility: visible;
}
.news_container .box .box_inner_left {
    width: 30%;
}
.news_container .box .box_inner_left p.date {
    font-size: 13px;
    color: #d1d2d2;
    margin-bottom: 30px;
}
.news_container .box .box_inner_left p.date:before {
    content: '';
    background: url(../img/date.png) no-repeat;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.news_container .box .box_inner_right {
    width: 65%;
    height: 100%;
    position: relative;
}
.news_container .box .box_inner_right p {
    padding-bottom: 50px;
}
.news_container .box .box_inner_right .btn_green {
    position: absolute;
    bottom: -10px;
}
.news_container .box .box_inner_right h5 {
    font-size: 24px;
    margin-bottom: 23px;
    line-height: 24px;
}
/* Blog
------------------------------------------------------------------------------------ */
.blog_carousel ul li {
    height: 557px;
    width: 250px;
}
.blog_carousel ul li .blog_item {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: relative;
}
.blog_carousel ul li .blog_item img {
    width: 220px;
    height: 185px;
}
.blog_carousel ul li .blog_item h4 {
    font-size: 20px;
    margin: 25px 0;
}
.blog_carousel ul li .blog_item p {
    font-size: 15px;
}
.blog_carousel ul li .blog_item .btn_green {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 220px;
    visibility: hidden;
}
.blog_carousel ul li:hover {
    background: #f6f6f6;
}
.blog_carousel ul li:hover .btn_green {
    visibility: visible;
}
/* Reviews
------------------------------------------------------------------------------------ */
.reviews_container {
    background: url(../img/main_bg.jpg) center;
    position: relative;
}
.reviews_carousel ul li {
    height: 400px;
}
.reviews_tabs {
    text-align: center;
}
.reviews_tabs .item {
    width: 33%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.reviews_tabs .item .capture {
    padding: 2px;
}
.reviews_tabs .item h5 {
    font-size: 16px;
    margin: 10px 0 5px;
}
.reviews_tabs .item p {
    font-size: 14px;
}
.reviews_tabs .current .capture {
    width: 124px;
    height: 124px;
    border: 2px solid #00bda2;
    border-radius: 4px;
    position: relative;
    padding: 0;
    margin: auto;
}
.reviews_tabs .current .capture img {
    margin: 0;
}
.reviews_tabs .current .capture:before,
.reviews_tabs .current .capture:after {
    content: '';
    background: #00bda2;
    height: 2px;
    width: 100px;
    position: absolute;
    top: 50%;
}
.reviews_tabs .current .capture:before {
    left: -100px;
}
.reviews_tabs .current .capture:after {
    right: -100px;
}
.reviews_container .box {
    display: none;
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    margin-top: 40px;
}
.reviews_container .box.visible {
    display: block;
}
/* Partner
------------------------------------------------------------------------------------ */
.partners_carousel ul li {
    height: 100px;
    width: 155px;
    margin-right: 8px;
}
.partners_carousel ul li img {
    width: 100%;
    height: 100%;
}
.partners_carousel ul li a {
    opacity: .5;
}
.partners_carousel ul li a:hover {
    opacity: 1;
}

/* Help
----------------------------------------------------------------------------------*/

.help_container {
    background: url(../img/main_bg.jpg);
    background-size: cover;
    padding: 80px 0;
}
.help_container .img-thumbnail {
    border: none;
    border-radius: 20px;
    padding: 0;
}
.help_container .col-md-6 {
    padding: 0 25px;
}
.help_container h2 {
    color: #25313a;
    margin: 10px 0;
}
.help_container p {
    margin-bottom: 15px;
}
.help_container .btn_green {
    width: 300px;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    background: #141f2b;
    padding-bottom: 15px;
}
.footer_container p {
    color: white;
    font-size: 14px;
}
.f_logo {
    margin-bottom: 20px;
}
.footer_container .contacts {
    line-height: 27px;
    margin-top: 13px;
}
.footer_container .contacts img {
    float: left;
    margin-right: 10px;
    height: 27px;
}
.footer_container .contacts p span {
    font-size: 22px;
}
.footer_top {
    padding-top: 30px;
    padding-bottom: 30px;
    background: url(../img/bg_footer_bott.jpg);
    background-size: cover;
}
.footer_top h3 {
    font-size: 30px;
    color: white;
    padding-top: 5px;
    margin-bottom: 30px;
}
.footer_top .important {
    float: left;
    margin-right: 15px;
}
.footer_top a {
    color: white;
    text-decoration: underline;
}
.footer_bott {
    padding-top: 12px;
}
.footer_bott .follows {
    padding-top: 16px;
    text-align: center;
}
.footer_bott .follows img {
    margin-right: 11px;
}
.footer_bott .list {
    height: 25px;
    width: 26px;
    margin: -8px 10px 0;
    margin-bottom: 5px;
}

.footer_bott .bottom_middle {
    text-align: center;
}
.footer_bott .bottom_middle p {
    line-height: 14px;
    display: inline-block;
    font-size: 12px;
}
.footer_bott .bottom_middle .copy {
    width: 100%;
}
.footer_bott .bottom_last {
    padding-top: 7px;
    text-align: center;
}
.footer_bott .bottom_last a {
    display: inline-block;
    margin-right: 5px;
}
.footer_bott .bottom_last a:last-child {
    margin-right: 0px;
}

/*MEDIA
-------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
    .main_slider .item .carousel-caption h1 {
        padding-top: 40px;
    }
    .main_slider .carousel-indicators {
        bottom: 10px;
    }
}
@media screen and (max-width: 1029px) {
    .header_container .logo img {
        width: 100%;
    }
    .header_container .social_wrap {
        margin-left: 40px;
    }
    .header_container p.or {
        margin-left: 14px;
        margin-right: 16px;
    }
    .header_container .header_form input {
        width: 119px;
    }
    .header_container .registration {
        width: 100px;
        text-indent: 0;
    }
    .main_slider .carousel-control.left {
        margin-left: 70px;
    }
    .main_slider .carousel-control.right {
        margin-right: 70px;
    }
    .main_slider .item .carousel-caption h1 {
        font-size: 40px;
        padding-top: 0px;
        margin-bottom: 22px;
    }
    .main_slider .item .carousel-caption p {
        font-size: 24px;
        font-family: 'NeoSansPro-Regular';
        color: #fff;
        line-height: 32px;
    }
    .main_slider .item .carousel-caption .btn_green {
        width: 272px;
        margin: auto;
        margin-top: 32px;
    }
    .measure_container .information .select_wrap {
        padding-left: 60px;
    }
    .measure_container .information .btn_green {
        float: none;
        margin: auto;
        margin-top: 14px;
    }
    .mobile_container {
        height: auto;
    }
    .mobile_container .browsers,
    .mobile_container .client {
        padding: 0;
        height: auto;
        padding-top: 50px;
    }
    .mobile_container .browsers p,
    .mobile_container .client p {
        margin-bottom: 30px;
    }
    .mobile_container .browsers img,
    .mobile_container .phone {
        position: static;
        width: 100%;
    }
    .mobile_container .phone .appstore {
        text-align: left;
    }
    .mobile_container .phone .google1 {
        margin-left: 130px;
    }
    .mobile_container .phone .google1 a {
        margin-left: -12px;
    }
    .mobile_container .phone .google2 a {
        margin-left: -115px;
    }
    .action_container .images img {
        width: 100%;
    }
    .news_container .box .news_box {
        width: 388px;
        height: auto;
    }
    .news_container .box .box_inner_left {
        width: 120px;
    }
    .news_container .box .box_inner_left img {
        width: 100%;
    }
    .news_container .box .box_inner_right {
        padding-left: 8px;
    }
    .news_container .box .box_inner_right p {
        padding-bottom: 15px;
    }
    .news_container .box .box_inner_right .btn_green {
        position: static;
    }
    .news_container .box .news_box {
        height: auto;
    }
}

@media screen and (max-width: 806px) {
    .header_container .header {
        height: auto;
    }
    .header_container .header .logo {
        line-height: auto;
        width: 250px;
        margin: auto;
        float: none !important;
    }
    .header_container .header .right {
        padding: 0;
        padding-bottom: 15px;
    }
    .header_container .social_wrap {
        margin-left: 0px;
        margin: auto;
        width: 64px;
        float: none !important;
    }
    .header_container p.or {
        float: none !important;
        text-align: center;
    }
    .header_container .header_form {
        width: 418px;
        margin: auto;
    }
    .nav_container .container {
        padding: 0;
    }
    .navbar-collapse {
        border: none;
        z-index: 1000;
        position: relative;
        width: 100%;
        bottom: 1px;
    }
    .navbar-header {
        border: none;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
        opacity: .8;
        margin-right: 15px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: none
    }
    .navbar-default .navbar-toggle:hover {
        opacity: 1;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-collapse .nav {
        margin: 0;
        background: #00B79F;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .navbar-collapse .nav li {
        width: 100%;
        padding-right: 0;
        padding-top: 0;
    }
    .navbar-collapse .nav li a {
        text-align: left;
        padding-left: 15px;
    }
    .navbar-collapse .nav li.active a,
    .navbar-collapse .nav li.active a:hover,
    .navbar-collapse .nav li a:hover {
        background: #00957F;
        color: #fff;
        border-radius: 0;
        padding-top: 0;
    }
    .nav_pdng {
        padding: 0;
    }
    .measure_container .information .select_wrap {
        padding-left: 0px;
        float: none;
        margin-left: 0;
    }
    .measure_container .information input {
        width: 225px;
        float: left;
        margin-top: 20px;
    }
    .measure_container .information .btn_green {
        float: right;
        width: 305px;
    }
    .main_slider .item .carousel-caption {
        width: 70%;
        left: 15%;
    }
    .main_slider .item .carousel-caption h1 {
        font-size: 24px;
    }
    .main_slider .item .carousel-caption .btn_green {
        font-size: 16px;
        height: 40px;
        width: 140px;
    }
    .main_slider .item .carousel-caption p {
        font-size: 16px;
    }
    .main_slider .carousel-control.left {
        margin-left: 35px;
    }
    .main_slider .carousel-control.right {
        margin-right: 35px;
    }
    .action_container .images {
       height: auto;
    }
    .action_container .col-xs-12 {
        margin-bottom: 40px;
    }
    .mobile_container .browsers,
    .mobile_container .client {
        padding-top: 30px;
    }
    .mobile_container .browsers p,
    .mobile_container .client p {
        margin-bottom: 15px;
    }
    .mobile_container .browsers img,
    .mobile_container .client img {
        position: static;
        width: 100%;
    }
    .news_carousel li {
        height: auto;
    }
    .news_container .box .news_box {
        width: 250px;
        height: auto;
    }
    .news_container .box .box_inner_left {
        width: 100%;
        float: none !important;
    }
    .news_container .box .box_inner_left img {
        width: 100%;
        display: none;
    }
    .news_container .box .box_inner_right {
        padding-left: 0;
        float: none !important;
        width: 100%;
    }
    .news_container .box .box_inner_right p {
        padding-bottom: 15px;
    }
    .news_container .box .box_inner_right .btn_green {
        position: static;
    }
    .footer_top .col-xs-12 {
        margin-bottom: 40px;
    }
    .footer_bott .col-xs-12 {
        margin-bottom: 40px;
        float: left;
    }
    .mobile_container .phone .hrefs {
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin-bottom: -400px;
    }
    .mobile_container .phone .google1 {
        margin-left: 35px;
    }
    .mobile_container .phone .appstore {
        margin-left: 40px;
    }
     .mobile_container .phone .google2 {
        margin-left: 60px;
     }
     .mobile_container .phone .google2 a {
        margin-left: 0;
     }
}
@media screen and (max-width: 620px) {
    .main_slider .item .carousel-caption p {
        display: none;
    }
    .mobile_container .phone .hrefs {
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin-bottom: -250px;
    }
    .mobile_container .phone .google1 {
        margin-left: 10px;
    }
     .mobile_container .phone .google2 {
        margin-left: 40px;
     }
     .mobile_container .phone .appstore {
        margin-left: 10px;
    }
}
@media screen and (max-width: 466px) {
    .header_container .header .logo {
        width: 185px;
    }
    .header_container .header_form {
        width: 180px;
    }
    .header_container .header_form .enter {
        margin-right: 0;
        margin: auto;
        float: none !important;
        width: 178px;
    }
    .header_container .header_form .enter button {
        border-radius: 3px;
    }
    .header_container .header_form .enter button:before,
    .header_container .header_form .enter button:after {
        content: none;
    }
    .header_container .header_form input {
        display: block;
        float: none !important;
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 3px;
    }

     .mobile_container .phone .google2 {
        margin-left: 0px;
     }
}